@{
  Layout="Shared/_Layout.cshtml";
}

<h3><span class="name">@Model["stylist"].GetName()'s years of experience:</span> @Model["stylist"].GetExperience()</h3>
<h3><span class="name">Here are all of @Model["stylist"].GetName()'s clients:</span></h3>

@if (@Model["clients"].Count == 0)
{
  <p>No clients have been added yet!</p>
}
else
{
  <ol>
    @foreach (var client in @Model["clients"])
    {
        <li><a href='/clients/@client.GetId()' class="name">@client.GetName()</a></li>
        <li><a href="/client/edit/@client.GetId()">Edit</a>  | <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
  </ol>
}
<h5><a href="/clients/new">Add a new client</a></h5>
<h5><a href="/">Return to Main Page</a></h5>
